*.pdf
*.error

!boundingBox_invalid.pdf
!pdkids.pdf
!tracemonkey.pdf
!TrueType_without_cmap.pdf
!franz.pdf
!franz_2.pdf
!fraction-highlight.pdf
!german-umlaut-r.pdf
!issue13269.pdf
!xref_command_missing.pdf
!issue1155r.pdf
!issue2017r.pdf
!bug1727053.pdf
!issue18408_reduced.pdf
!bug1907000_reduced.pdf
!issue11913.pdf
!issue2391-1.pdf
!issue2391-2.pdf
!issue14046.pdf
!issue7891_bc1.pdf
!issue14881.pdf
!issue3214.pdf
!issue4665.pdf
!checkbox-bad-appearance.pdf
!issue4684.pdf
!issue8092.pdf
!issue5256.pdf
!issue5801.pdf
!issue5946.pdf
!issue5972.pdf
!issue5874.pdf
!issue5808.pdf
!issue6179_reduced.pdf
!issue6204.pdf
!issue6342.pdf
!issue6652.pdf
!issue6782.pdf
!issue6901.pdf
!issue6961.pdf
!issue6962.pdf
!issue7020.pdf
!issue7101.pdf
!issue7115.pdf
!issue7180.pdf
!issue7769.pdf
!issue7200.pdf
!issue7229.pdf
!issue7403.pdf
!issue7406.pdf
!issue7426.pdf
!issue7439.pdf
!issue7847_radial.pdf
!issue8844.pdf
!issue17056.pdf
!issue17679.pdf
!issue17679_2.pdf
!issue18030.pdf
!issue18042.pdf
!issue18059.pdf
!issue14953.pdf
!issue15367.pdf
!issue15372.pdf
!issue7446.pdf
!issue7492.pdf
!issue7544.pdf
!issue7507.pdf
!issue6931_reduced.pdf
!issue14847.pdf
!issue17846.pdf
!doc_actions.pdf
!issue7580.pdf
!issue7598.pdf
!issue12750.pdf
!issue7665.pdf
!issue7696.pdf
!issue7835.pdf
!issue11922_reduced.pdf
!issue7855.pdf
!issue11144_reduced.pdf
!issue7872.pdf
!issue7901.pdf
!issue8061.pdf
!bug1721218_reduced.pdf
!issue8088.pdf
!issue8125.pdf
!issue8229.pdf
!issue8276_reduced.pdf
!issue8372.pdf
!issue9713.pdf
!xfa_filled_imm1344e.pdf
!issue8424.pdf
!issue8480.pdf
!bug1650302_reduced.pdf
!issue18816.pdf
!issue8570.pdf
!issue8697.pdf
!issue8702.pdf
!structure_simple.pdf
!issue12823.pdf
!issue8707.pdf
!issue8798r.pdf
!issue8823.pdf
!issue9084.pdf
!issue12963.pdf
!issue9105_reduced.pdf
!issue19484_2.pdf
!issue9105_other.pdf
!issue9252.pdf
!issue9262_reduced.pdf
!issue9291.pdf
!issue9418.pdf
!issue9458.pdf
!issue9655_reduced.pdf
!issue9915_reduced.pdf
!bug854315.pdf
!issue9940.pdf
!issue10388_reduced.pdf
!issue10438_reduced.pdf
!issue10529.pdf
!issue10542_reduced.pdf
!issue10665_reduced.pdf
!issue11016_reduced.pdf
!issue19532.pdf
!issue15516_reduced.pdf
!issue11045.pdf
!bug1057544.pdf
!issue11150_reduced.pdf
!issue6127.pdf
!issue7891_bc0.pdf
!issue11242_reduced.pdf
!issue16176.pdf
!issue16287.pdf
!issue17064_readonly.pdf
!issue11279.pdf
!issue11362.pdf
!issue13325_reduced.pdf
!issue11578_reduced.pdf
!issue11651.pdf
!issue11878.pdf
!issue13916.pdf
!issue14023.pdf
!issue14438.pdf
!issue14999_reduced.pdf
!bad-PageLabels.pdf
!decodeACSuccessive.pdf
!issue13003.pdf
!filled-background.pdf
!ArabicCIDTrueType.pdf
!ThuluthFeatures.pdf
!arial_unicode_ab_cidfont.pdf
!arial_unicode_en_cidfont.pdf
!asciihexdecode.pdf
!bug766086.pdf
!bug793632.pdf
!issue14821.pdf
!bug1020858.pdf
!prefilled_f1040.pdf
!bug1050040.pdf
!issue18986.pdf
!bug1200096.pdf
!bug1068432.pdf
!issue12295.pdf
!bug1146106.pdf
!issue13447.pdf
!bug1245391_reduced.pdf
!bug1252420.pdf
!bug1513120_reduced.pdf
!bug1538111.pdf
!bug1552113.pdf
!issue6132.pdf
!issue9949.pdf
!bug1308536.pdf
!bug1337429.pdf
!bug1606566.pdf
!issue5564_reduced.pdf
!canvas.pdf
!bug1132849.pdf
!issue6894.pdf
!issue5804.pdf
!issue11131_reduced.pdf
!Pages-tree-refs.pdf
!ShowText-ShadingPattern.pdf
!complex_ttf_font.pdf
!issue3694_reduced.pdf
!extgstate.pdf
!issue4706.pdf
!rotation.pdf
!simpletype3font.pdf
!sizes.pdf
!javauninstall-7r.pdf
!file_url_link.pdf
!multiple-filters-length-zero.pdf
!non-embedded-NuptialScript.pdf
!issue3205r.pdf
!issue3207r.pdf
!issue3263r.pdf
!issue3879r.pdf
!issue5686.pdf
!issue3928.pdf
!issue8565.pdf
!clippath.pdf
!issue8795_reduced.pdf
!bug1755507.pdf
!close-path-bug.pdf
!issue6019.pdf
!issue6621.pdf
!issue6286.pdf
!issue13107_reduced.pdf
!issue1055r.pdf
!issue11713.pdf
!issue1293r.pdf
!issue11931.pdf
!issue1655r.pdf
!issue6541.pdf
!issue10640.pdf
!issue2948.pdf
!issue6231_1.pdf
!issue10402.pdf
!issue7074_reduced.pdf
!issue6413.pdf
!issue4630.pdf
!issue4909.pdf
!scorecard_reduced.pdf
!issue5084.pdf
!issue8960_reduced.pdf
!issue5202.pdf
!images_1bit_grayscale.pdf
!issue5280.pdf
!issue12399_reduced.pdf
!annotation-ink-without-appearance.pdf
!issue5677.pdf
!issue5954.pdf
!issue6612.pdf
!alphatrans.pdf
!issue14200.pdf
!pattern_text_embedded_font.pdf
!devicen.pdf
!cmykjpeg.pdf
!issue840.pdf
!160F-2019.pdf
!issue4402_reduced.pdf
!issue16263.pdf
!issue845r.pdf
!issue3405r.pdf
!issue14130.pdf
!issue7339_reduced.pdf
!issue3438.pdf
!issue11403_reduced.pdf
!ContentStreamNoCycleType3insideType3.pdf
!ContentStreamCycleType3insideType3.pdf
!issue2074.pdf
!issue18117.pdf
!scan-bad.pdf
!issue13561_reduced.pdf
!bug847420.pdf
!bug860632.pdf
!bug894572.pdf
!bug911034.pdf
!bug1108301.pdf
!issue10301.pdf
!bug1157493.pdf
!issue15910.pdf
!issue4260_reduced.pdf
!bug1250079.pdf
!bug1473809.pdf
!issue12120_reduced.pdf
!pdfjsbad1586.pdf
!standard_fonts.pdf
!freeculture.pdf
!issue14802.pdf
!issue6006.pdf
!pdfkit_compressed.pdf
!TAMReview.pdf
!pr4922.pdf
!pr6531_1.pdf
!pr6531_2.pdf
!pr7352.pdf
!pr19449.pdf
!bug900822.pdf
!bug1392647.pdf
!issue918.pdf
!bug920426.pdf
!issue1905.pdf
!issue2833.pdf
!issue2931.pdf
!issue3323.pdf
!issue4304.pdf
!issue9017_reduced.pdf
!issue4379.pdf
!issue4550.pdf
!issue13316_reduced.pdf
!issue15977_reduced.pdf
!issue4575.pdf
!colorspace_atan.pdf
!bug1011159.pdf
!issue5734.pdf
!issue4875.pdf
!issue11740_reduced.pdf
!issue12705.pdf
!issue4881.pdf
!issue5994.pdf
!issue6151.pdf
!rotated.pdf
!issue1249.pdf
!issue1171.pdf
!smaskdim.pdf
!endchar.pdf
!type4psfunc.pdf
!issue1350.pdf
!S2.pdf
!glyph_accent.pdf
!personwithdog.pdf
!find_all.pdf
!helloworld-bad.pdf
!zerowidthline.pdf
!colorspace_cos.pdf
!issue17554.pdf
!issue13242.pdf
!js-colors.pdf
!annotation-line-without-appearance-empty-Rect.pdf
!issue12841_reduced.pdf
!bug868745.pdf
!mmtype1.pdf
!issue4436r.pdf
!issue5704.pdf
!issue5751.pdf
!bug893730.pdf
!bug864847.pdf
!issue15629.pdf
!issue1002.pdf
!issue925.pdf
!issue2840.pdf
!issue4061.pdf
!issue4668.pdf
!issue13226.pdf
!PDFJS-7562-reduced.pdf
!issue11768_reduced.pdf
!issue5039.pdf
!issue14117.pdf
!issue5070.pdf
!issue5238.pdf
!jp2k-resetprob.pdf
!issue5244.pdf
!issue5291.pdf
!issue4398.pdf
!issue5421.pdf
!issue5470.pdf
!issue5501.pdf
!issue5599.pdf
!issue17147.pdf
!issue5747.pdf
!issue6099.pdf
!issue6336.pdf
!issue6387.pdf
!issue6410.pdf
!issue11124.pdf
!issue8586.pdf
!jbig2_symbol_offset.pdf
!gradientfill.pdf
!bug903856.pdf
!issue14618.pdf
!bug850854.pdf
!issue12810.pdf
!bug866395.pdf
!issue12010_reduced.pdf
!issue10572.pdf
!issue11718_reduced.pdf
!bug1027533.pdf
!bug1028735.pdf
!bug1046314.pdf
!bug1065245.pdf
!issue6769.pdf
!bug1151216.pdf
!issue8111.pdf
!bug1175962.pdf
!bug1020226.pdf
!issue9534_reduced.pdf
!attachment.pdf
!basicapi.pdf
!issue15590.pdf
!issue15594_reduced.pdf
!issue2884_reduced.pdf
!mixedfonts.pdf
!shading_extend.pdf
!noembed-identity.pdf
!noembed-identity-2.pdf
!noembed-jis7.pdf
!issue12504.pdf
!noembed-eucjp.pdf
!bug1627427_reduced.pdf
!noembed-sjis.pdf
!vertical.pdf
!issue13343.pdf
!ZapfDingbats.pdf
!bug878026.pdf
!issue1045.pdf
!issue5010.pdf
!issue10339_reduced.pdf
!issue15557.pdf
!issue4934.pdf
!issue4650.pdf
!issue6721_reduced.pdf
!issue3025.pdf
!bug1365930.pdf
!french_diacritics.pdf
!issue2099-1.pdf
!issue3371.pdf
!issue2956.pdf
!issue2537r.pdf
!issue269_1.pdf
!bug946506.pdf
!issue3885.pdf
!issue11697_reduced.pdf
!bug859204.pdf
!annotation-tx.pdf
!annotation-tx2.pdf
!annotation-tx3.pdf
!coons-allflags-withfunction.pdf
!tensor-allflags-withfunction.pdf
!issue10084_reduced.pdf
!issue4246.pdf
!issue11915.pdf
!js-authors.pdf
!issue4461.pdf
!issue4573.pdf
!issue4722.pdf
!bug1811668_reduced.pdf
!issue4800.pdf
!issue9243.pdf
!issue13147.pdf
!issue11477_reduced.pdf
!text_clip_cff_cid.pdf
!issue4801.pdf
!issue5334.pdf
!annotation-caret-ink.pdf
!bug1186827.pdf
!issue12706.pdf
!issue215.pdf
!issue5044.pdf
!issue1512r.pdf
!issue2128r.pdf
!bug1703683_page2_reduced.pdf
!issue5540.pdf
!issue15893_reduced.pdf
!issue5549.pdf
!visibility_expressions.pdf
!issue5475.pdf
!issue10519_reduced.pdf
!annotation-border-styles.pdf
!colorspace_sin.pdf
!IdentityToUnicodeMap_charCodeOf.pdf
!PDFJS-9279-reduced.pdf
!issue5481.pdf
!resetform.pdf
!issue5567.pdf
!issue5701.pdf
!issue6769_no_matrix.pdf
!issue12007_reduced.pdf
!issue5896.pdf
!issue6010_1.pdf
!issue6010_2.pdf
!issue6068.pdf
!issue6081.pdf
!issue6069.pdf
!issue6106.pdf
!issue6296.pdf
!bug852992_reduced.pdf
!issue13271.pdf
!issue6298.pdf
!issue6889.pdf
!issue11473.pdf
!bug1001080.pdf
!issue15716.pdf
!bug1671312_reduced.pdf
!bug1671312_ArialNarrow.pdf
!issue17848.pdf
!issue6108.pdf
!issue6113.pdf
!openoffice.pdf
!js-buttons.pdf
!issue7014.pdf
!issue19484_1.pdf
!issue8187.pdf
!annotation-link-text-popup.pdf
!issue9278.pdf
!annotation-text-without-popup.pdf
!annotation-underline.pdf
!issue13193.pdf
!annotation-underline-without-appearance.pdf
!issue269_2.pdf
!issue13372.pdf
!annotation-strikeout.pdf
!annotation-strikeout-without-appearance.pdf
!annotation-squiggly.pdf
!issue14256.pdf
!annotation-squiggly-without-appearance.pdf
!annotation-highlight.pdf
!annotation-highlight-without-appearance.pdf
!issue12418_reduced.pdf
!annotation-freetext.pdf
!annotation-line.pdf
!evaljs.pdf
!issue12798_page1_reduced.pdf
!annotation-line-without-appearance.pdf
!bug1669099.pdf
!annotation-square-circle.pdf
!bug1942064.pdf
!annotation-square-circle-without-appearance.pdf
!annotation-stamp.pdf
!issue14048.pdf
!issue11656.pdf
!annotation-fileattachment.pdf
!annotation-text-widget.pdf
!issue7454.pdf
!issue15443.pdf
!annotation-choice-widget.pdf
!issue10900.pdf
!annotation-button-widget.pdf
!annotation-polyline-polygon.pdf
!annotation-polyline-polygon-without-appearance.pdf
!zero_descent.pdf
!operator-in-TJ-array.pdf
!issue7878.pdf
!font_ascent_descent.pdf
!listbox_actions.pdf
!issue11442_reduced.pdf
!issue11549_reduced.pdf
!issue8097_reduced.pdf
!issue15262.pdf
!issue17904.pdf
!bug1743245.pdf
!quadpoints.pdf
!transparent.pdf
!issue19326.pdf
!issue13931.pdf
!issue19474.pdf
!xobject-image.pdf
!issue15441.pdf
!issue6605.pdf
!ccitt_EndOfBlock_false.pdf
!issue9972-1.pdf
!issue9972-2.pdf
!issue9972-3.pdf
!tiling-pattern-box.pdf
!tiling-pattern-large-steps.pdf
!issue13201.pdf
!issue14462_reduced.pdf
!issue11555.pdf
!issue12337.pdf
!pr12564.pdf
!pr12828.pdf
!secHandler.pdf
!issue14297.pdf
!rc_annotation.pdf
!issue14267.pdf
!PDFBOX-4352-0.pdf
!REDHAT-1531897-0.pdf
!xfa_issue14315.pdf
!poppler-67295-0.pdf
!poppler-85140-0.pdf
!issue15012.pdf
!issue19176.pdf
!bug1947248_text.pdf
!bug1947248_forms.pdf
!issue15150.pdf
!poppler-395-0-fuzzed.pdf
!issue14165.pdf
!GHOSTSCRIPT-698804-1-fuzzed.pdf
!issue14814.pdf
!poppler-91414-0-53.pdf
!poppler-91414-0-54.pdf
!poppler-742-0-fuzzed.pdf
!poppler-937-0-fuzzed.pdf
!PDFBOX-3148-2-fuzzed.pdf
!poppler-90-0-fuzzed.pdf
!issue14415.pdf
!issue14307.pdf
!issue18645.pdf
!issue14497.pdf
!bug1799927.pdf
!issue14502.pdf
!issue13211.pdf
!issue14627.pdf
!issue14862.pdf
!issue14705.pdf
!bug1771477.pdf
!bug1724918.pdf
!issue15053.pdf
!bug1675139.pdf
!issue15092.pdf
!bug1782186.pdf
!tracemonkey_a11y.pdf
!bug1782564.pdf
!issue15340.pdf
!bug1795263.pdf
!issue15597.pdf
!bug1796741.pdf
!textfields.pdf
!freetext_no_appearance.pdf
!issue15690.pdf
!bug1802888.pdf
!issue15759.pdf
!issue18823.pdf
!issue15753.pdf
!issue15789.pdf
!fields_order.pdf
!issue15815.pdf
!issue15818.pdf
!autoprint.pdf
!bug1811694.pdf
!bug1811510.pdf
!bug1815476.pdf
!issue16021.pdf
!bug1770750.pdf
!issue16063.pdf
!issue19389.pdf
!issue16067.pdf
!bug1820909.1.pdf
!issue16221.pdf
!issue16224.pdf
!issue16278.pdf
!copy_paste_ligatures.pdf
!issue16316.pdf
!issue14565.pdf
!multiline.pdf
!bug1825002.pdf
!issue14755.pdf
!issue16473.pdf
!bug1529502.pdf
!issue16500.pdf
!issue16538.pdf
!freetexts.pdf
!issue16553.pdf
!empty.pdf
!rotated_freetexts.pdf
!issue16633.pdf
!bug1844576.pdf
!bug1844583.pdf
!annotation_hidden_print.pdf
!annotation_hidden_noview.pdf
!widget_hidden_print.pdf
!empty_protected.pdf
!tagged_stamp.pdf
!bug1851498.pdf
!issue17065.pdf
!issue17069.pdf
!issue17215.pdf
!bug1863910.pdf
!bug1865341.pdf
!bug1872721.pdf
!bug1871353.pdf
!bug1871353.1.pdf
!file_pdfjs_form.pdf
!issue17492.pdf
!issue17540.pdf
!bug1669097.pdf
!issue17671.pdf
!bug1868759.pdf
!issue17730.pdf
!bug1883609.pdf
!issue17808.pdf
!issue17871_bottom_right.pdf
!issue17871_top_right.pdf
!bug1889122.pdf
!issue17929.pdf
!issue12213.pdf
!tracemonkey_freetext.pdf
!issue17998.pdf
!pdfjs_wikipedia.pdf
!bug1539074.pdf
!bug1539074.1.pdf
!issue18305.pdf
!issue18360.pdf
!issue18099_reduced.pdf
!file_pdfjs_test.pdf
!issue18536.pdf
!issue18561.pdf
!highlights.pdf
!highlight.pdf
!bug1708040.pdf
!issue18694.pdf
!issue18693.pdf
!bug1918115.pdf
!bug1919513.pdf
!issue16038.pdf
!highlight_popup.pdf
!issue18072.pdf
!stamps.pdf
!issue15096.pdf
!issue18036.pdf
!issue18894.pdf
!bug1922766.pdf
!issue18956.pdf
!issue19083.pdf
!issue19120.pdf
!bug1934157.pdf
!rotated_ink.pdf
!inks.pdf
!inks_basic.pdf
!issue19182.pdf
!issue18911.pdf
!issue19207.pdf
!issue19239.pdf
!issue19360.pdf
!bug1019475_1.pdf
!bug1019475_2.pdf
!issue19505.pdf
!colors.pdf
