*.pdf
*.error

!boundingBox_invalid.pdf
!tracemonkey.pdf
!TrueType_without_cmap.pdf
!franz.pdf
!franz_2.pdf
!german-umlaut-r.pdf
!xref_command_missing.pdf
!issue1155r.pdf
!issue2017r.pdf
!issue2391-1.pdf
!issue2391-2.pdf
!issue3214.pdf
!issue4665.pdf
!issue4684.pdf
!issue8092.pdf
!issue5256.pdf
!issue5801.pdf
!issue5946.pdf
!issue5972.pdf
!issue5874.pdf
!issue5808.pdf
!issue6204.pdf
!issue6342.pdf
!issue6652.pdf
!issue6782.pdf
!issue6901.pdf
!issue6961.pdf
!issue6962.pdf
!issue7020.pdf
!issue7101.pdf
!issue7115.pdf
!issue7180.pdf
!issue7769.pdf
!issue7200.pdf
!issue7229.pdf
!issue7403.pdf
!issue7406.pdf
!issue7426.pdf
!issue7439.pdf
!issue7446.pdf
!issue7492.pdf
!issue7544.pdf
!issue7507.pdf
!issue7580.pdf
!issue7598.pdf
!issue7665.pdf
!issue7696.pdf
!issue7835.pdf
!issue7855.pdf
!issue7872.pdf
!issue7901.pdf
!issue8061.pdf
!issue8088.pdf
!issue8125.pdf
!issue8229.pdf
!issue8276_reduced.pdf
!issue8372.pdf
!issue8424.pdf
!issue8480.pdf
!issue8570.pdf
!issue8697.pdf
!issue8702.pdf
!issue8707.pdf
!issue8798r.pdf
!issue8823.pdf
!issue9084.pdf
!issue9105_reduced.pdf
!issue9252.pdf
!issue9262_reduced.pdf
!issue9291.pdf
!issue9418.pdf
!issue9458.pdf
!issue9915_reduced.pdf
!issue9940.pdf
!issue10388_reduced.pdf
!issue10438_reduced.pdf
!issue10529.pdf
!issue10542_reduced.pdf
!issue10665_reduced.pdf
!issue11016_reduced.pdf
!issue11045.pdf
!bad-PageLabels.pdf
!decodeACSuccessive.pdf
!filled-background.pdf
!ArabicCIDTrueType.pdf
!ThuluthFeatures.pdf
!arial_unicode_ab_cidfont.pdf
!arial_unicode_en_cidfont.pdf
!asciihexdecode.pdf
!bug766086.pdf
!bug793632.pdf
!bug1020858.pdf
!bug1050040.pdf
!bug1200096.pdf
!bug1068432.pdf
!bug1146106.pdf
!bug1245391_reduced.pdf
!bug1252420.pdf
!bug1513120_reduced.pdf
!bug1552113.pdf
!issue9949.pdf
!bug1308536.pdf
!bug1337429.pdf
!issue5564_reduced.pdf
!canvas.pdf
!bug1132849.pdf
!issue6894.pdf
!issue5804.pdf
!ShowText-ShadingPattern.pdf
!complex_ttf_font.pdf
!issue3694_reduced.pdf
!extgstate.pdf
!rotation.pdf
!simpletype3font.pdf
!sizes.pdf
!javauninstall-7r.pdf
!file_url_link.pdf
!multiple-filters-length-zero.pdf
!non-embedded-NuptialScript.pdf
!issue3205r.pdf
!issue3207r.pdf
!issue3263r.pdf
!issue3879r.pdf
!issue5686.pdf
!issue3928.pdf
!clippath.pdf
!issue8795_reduced.pdf
!close-path-bug.pdf
!issue6019.pdf
!issue6621.pdf
!issue6286.pdf
!issue1055r.pdf
!issue1293r.pdf
!issue1655r.pdf
!issue6541.pdf
!issue2948.pdf
!issue6231_1.pdf
!issue10402.pdf
!issue7074_reduced.pdf
!issue6413.pdf
!issue4630.pdf
!issue4909.pdf
!scorecard_reduced.pdf
!issue5084.pdf
!issue8960_reduced.pdf
!issue5202.pdf
!images_1bit_grayscale.pdf
!issue5280.pdf
!issue5677.pdf
!issue5954.pdf
!issue6612.pdf
!alphatrans.pdf
!pattern_text_embedded_font.pdf
!devicen.pdf
!cmykjpeg.pdf
!issue840.pdf
!issue4402_reduced.pdf
!issue845r.pdf
!issue3405r.pdf
!issue3438.pdf
!issue2074.pdf
!scan-bad.pdf
!bug847420.pdf
!bug860632.pdf
!bug894572.pdf
!bug911034.pdf
!bug1108301.pdf
!bug1157493.pdf
!bug1250079.pdf
!bug1473809.pdf
!pdfjsbad1586.pdf
!freeculture.pdf
!issue6006.pdf
!pdfkit_compressed.pdf
!TAMReview.pdf
!pr4922.pdf
!pr6531_1.pdf
!pr6531_2.pdf
!pr7352.pdf
!bug900822.pdf
!bug1392647.pdf
!issue918.pdf
!issue1905.pdf
!issue2833.pdf
!issue2931.pdf
!issue3323.pdf
!issue4304.pdf
!issue4379.pdf
!issue4550.pdf
!issue4575.pdf
!bug1011159.pdf
!issue5734.pdf
!issue4875.pdf
!issue4881.pdf
!issue5994.pdf
!issue6151.pdf
!rotated.pdf
!issue1249.pdf
!issue1171.pdf
!smaskdim.pdf
!endchar.pdf
!type4psfunc.pdf
!issue1350.pdf
!S2.pdf
!glyph_accent.pdf
!personwithdog.pdf
!helloworld-bad.pdf
!zerowidthline.pdf
!bug868745.pdf
!mmtype1.pdf
!issue4436r.pdf
!issue5704.pdf
!issue5751.pdf
!bug893730.pdf
!bug864847.pdf
!issue1002.pdf
!issue925.pdf
!issue2840.pdf
!issue4061.pdf
!issue4668.pdf
!PDFJS-7562-reduced.pdf
!issue5039.pdf
!issue5070.pdf
!issue5238.pdf
!issue5244.pdf
!issue5291.pdf
!issue5421.pdf
!issue5470.pdf
!issue5501.pdf
!issue5599.pdf
!issue5747.pdf
!issue6099.pdf
!issue6336.pdf
!issue6387.pdf
!issue6410.pdf
!issue8586.pdf
!jbig2_symbol_offset.pdf
!gradientfill.pdf
!bug903856.pdf
!bug850854.pdf
!bug866395.pdf
!bug1027533.pdf
!bug1028735.pdf
!bug1046314.pdf
!bug1065245.pdf
!bug1151216.pdf
!bug1175962.pdf
!bug1020226.pdf
!issue9534_reduced.pdf
!attachment.pdf
!basicapi.pdf
!issue2884_reduced.pdf
!mixedfonts.pdf
!shading_extend.pdf
!noembed-identity.pdf
!noembed-identity-2.pdf
!noembed-jis7.pdf
!noembed-eucjp.pdf
!noembed-sjis.pdf
!vertical.pdf
!ZapfDingbats.pdf
!bug878026.pdf
!issue1045.pdf
!issue5010.pdf
!issue10339_reduced.pdf
!issue4934.pdf
!issue4650.pdf
!issue6721_reduced.pdf
!issue3025.pdf
!issue2099-1.pdf
!issue3371.pdf
!issue2956.pdf
!issue2537r.pdf
!bug946506.pdf
!issue3885.pdf
!bug859204.pdf
!annotation-tx.pdf
!annotation-tx2.pdf
!annotation-tx3.pdf
!coons-allflags-withfunction.pdf
!tensor-allflags-withfunction.pdf
!issue10084_reduced.pdf
!issue4246.pdf
!issue4461.pdf
!issue4573.pdf
!issue4722.pdf
!issue4800.pdf
!text_clip_cff_cid.pdf
!issue4801.pdf
!issue5334.pdf
!annotation-caret-ink.pdf
!bug1186827.pdf
!issue215.pdf
!issue5044.pdf
!issue1512r.pdf
!issue2128r.pdf
!issue5540.pdf
!issue5549.pdf
!issue5475.pdf
!issue10519_reduced.pdf
!annotation-border-styles.pdf
!IdentityToUnicodeMap_charCodeOf.pdf
!PDFJS-9279-reduced.pdf
!issue5481.pdf
!issue5567.pdf
!issue5701.pdf
!issue5896.pdf
!issue5909.pdf
!issue6010_1.pdf
!issue6010_2.pdf
!issue6068.pdf
!issue6081.pdf
!issue6069.pdf
!issue6106.pdf
!issue6296.pdf
!bug852992_reduced.pdf
!issue6298.pdf
!issue6889.pdf
!bug1001080.pdf
!issue6108.pdf
!issue6113.pdf
!openoffice.pdf
!issue7014.pdf
!issue8187.pdf
!annotation-link-text-popup.pdf
!issue9278.pdf
!annotation-text-without-popup.pdf
!annotation-underline.pdf
!annotation-strikeout.pdf
!annotation-squiggly.pdf
!annotation-highlight.pdf
!annotation-freetext.pdf
!annotation-line.pdf
!annotation-square-circle.pdf
!annotation-stamp.pdf
!annotation-fileattachment.pdf
!annotation-text-widget.pdf
!annotation-choice-widget.pdf
!annotation-button-widget.pdf
!annotation-polyline-polygon.pdf
!zero_descent.pdf
!operator-in-TJ-array.pdf
!issue7878.pdf
!font_ascent_descent.pdf
!issue8097_reduced.pdf
!transparent.pdf
!xobject-image.pdf
!ccitt_EndOfBlock_false.pdf
!issue9972-1.pdf
!issue9972-2.pdf
!issue9972-3.pdf
!tiling-pattern-box.pdf
!tiling-pattern-large-steps.pdf
