{
  "plugins": ["jasmine"],
  "extends": ["../.eslintrc", "plugin:jasmine/recommended"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "jasmine/new-line-before-expect": "off",
    "jasmine/new-line-between-declarations": "off",
    "jasmine/no-focused-tests": "error",
    "jasmine/no-pending-tests": "off",
    "jasmine/no-spec-dupes": ["error", "branch"],
    "jasmine/no-suite-dupes": ["error", "branch"],
    "jasmine/prefer-jasmine-matcher": "off",
    "jasmine/prefer-toHaveBeenCalledWith": "off"
  }
}
