root = true

[*.{js,jsm,mjs,json,html,css,pdf.link}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.{json,pdf.link}]
max_line_length = off

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = off
