{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
  },

  "plugins": [
    "import",
    "mozilla",
    "no-unsanitized",
    "unicorn",
  ],

  "env": {
    "browser": true,
    "es6": true,
    "worker": true,
    "amd": true,
  },

  "globals": {
    "PDFJSDev": false,
    "exports": false,
    "SystemJS": false,
  },

  "rules": {
    // Plugins
    "import/no-unresolved": "error",
    "mozilla/avoid-removeChild": "error",
    "mozilla/use-includes-instead-of-indexOf": "error",
    "no-unsanitized/method": "error",
    "no-unsanitized/property": "error",
    "unicorn/no-array-instanceof": "error",

    // Possible errors
    "for-direction": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-constant-condition": ["error", { "checkLoops": false, }],
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": ["error", { "allowEmptyCatch": true, }],
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-obj-calls": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "valid-typeof": ["error", { "requireStringLiterals": true, }],

    // Best Practices
    "accessor-pairs": ["error", { "setWithoutGet": true, }],
    "consistent-return": "error",
    "curly": ["error", "all"],
    "eqeqeq": ["error", "always"],
    "no-caller": "error",
    "no-else-return": "error",
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": ["error", {
      "ignoreEOLComments": true,
    }],
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-concat": "error",
    "prefer-promise-reject-errors": "error",
    "wrap-iife": ["error", "any"],
    "yoda": ["error", "never", {
      "exceptRange": true,
    }],

    // Strict Mode
    "strict": ["off", "global"],

    // Variables
    "no-catch-shadow": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-restricted-globals": ["error",
      {
        "name": "ReadableStream",
        "message": "Import it from `src/shared/util.js` or `pdfjsLib` instead; outside of the `/src` and `/web` folders, the rule may be disabled as needed. ",
      },
      {
        "name": "URL",
        "message": "Import it from `src/shared/util.js` or `pdfjsLib` instead; outside of the `/src` and `/web` folders, the rule may be disabled as needed. ",
      },
      {
        "name": "WritableStream",
        "message": "Import it from `src/shared/util.js` or `pdfjsLib` instead; outside of the `/src` and `/web` folders, the rule may be disabled as needed. ",
      },
    ],
    "no-shadow-restricted-names": "error",
    "no-shadow": "off",
    "no-undef-init": "error",
    "no-undef": ["error", { "typeof": true, }],
    "no-unused-vars": ["error", {
      "vars": "local",
      "args": "none",
    }],

    // Stylistic Issues
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", {
      "allowSingleLine": false,
    }],
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "always",
      "imports": "never",
      "exports": "always",
      "functions": "never",
    }],
    "comma-spacing": ["error", { "before": false, "after": true, }],
    "comma-style": ["error", "last"],
    "eol-last": "error",
    "func-call-spacing": ["error", "never"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "mode": "strict", }],
    "keyword-spacing": ["error", { "before": true, "after": true, }],
    "linebreak-style": ["error", "unix"],
    "lines-between-class-members": ["error", "always"],
    "max-len": ["error", {
      "code": 80,
      "ignoreUrls": true
    }],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": false, }],
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 1, }],
    "no-new-object": "error",
    "no-tabs": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": false, }],
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "after", { "overrides": { ":": "ignore", } }],
    "quotes": ["error", "single"],
    "semi-spacing": ["error", { "before": false, "after": true, }],
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "ignore", "named": "never", }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error", { "int32Hint": false }],
    "space-unary-ops": ["error", { "words": true, "nonwords": false, }],
    "spaced-comment": ["error", "always", {
      "block": {
        "balanced": true,
      }
    }],

    // ECMAScript 6
    "arrow-body-style": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", {
      "before": true,
      "after": true,
    }],
    "constructor-super": "error",
    "no-class-assign": "error",
    "no-confusing-arrow": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "off",
    "object-shorthand": ["error", "always", {
      "avoidQuotes": true,
    }],
    "rest-spread-spacing": ["error", "never"],
    "sort-imports": ["error", {
      "ignoreCase": true,
    }],
    "template-curly-spacing": ["error", "never"],
  },
}
