build/
l10n/
docs/
node_modules/
external/bcmaps/
external/webL10n/
external/builder/fixtures/
external/builder/fixtures_esprima/
external/quickjs/
src/shared/cffStandardStrings.js
src/shared/fonts_utils.js
test/tmp/
test/pdfs/
test/resources/
*~/
