[submodule "test/ttx/fonttools-code"]
	path = test/ttx/fonttools-code
	url = https://github.com/behdad/fonttools.git
[submodule "external/PKIjs"]
	path = external/PKIjs
	url = https://github.com/GlobalSign/PKI.js.git
[submodule "external/ASN1js"]
	path = external/ASN1js
	url = https://github.com/GlobalSign/ASN1.js.git
