@showpad:registry=https://gitlab.showpad.io/api/v4/packages/npm/
//gitlab.showpad.io/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
//gitlab.showpad.io/api/v4/projects/227/packages/npm/:_authToken=${NPM_TOKEN}
