registry=https://registry.npmjs.org/
scope=@paid-inc

# When true, any missing non-optional peer dependencies are automatically installed.
auto-install-peers=true

# When true, pnpm will run any pre/post scripts automatically. So running pnpm foo will be like running pnpm prefoo && pnpm foo && pnpm postfoo.
# @see https://pnpm.io/cli/run#enable-pre-post-scripts
enable-pre-post-scripts=true
