{
  "plugins": [
    "stylelint-prettier"
  ],

  "extends": [
    "stylelint-prettier/recommended"
  ],


  "rules": {
    "block-no-empty": true,
    "length-zero-no-unit": [true, {
      ignore: ["custom-properties"]
    }],
    "shorthand-property-no-redundant-values": true,
  },
}
