{
  "extends": [
    "../.eslintrc"
  ],

  "globals": {
    "pdfjsImageDecoders": false,
    "pdfjsLib": false,
    "pdfjsViewer": false,
  },

  "rules": {
    // ECMAScript 6
    "no-var": "error",
  },
}
