{
  "extends": [
    "../.eslintrc"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
  },

  "env": {
    "es6": false,
  },

  "globals": {
    "pdfjsImageDecoders": false,
    "pdfjsLib": false,
    "pdfjsViewer": false,
    "Uint8Array": false,
  },

  "rules": {
    "no-alert": "off",
    "object-shorthand": ["error", "never"]
  }
}
