{
  "extends": [
    ../../.eslintrc
  ],

  "env": {
    "webextensions": true
  },

  "plugins": [
    "mozilla"
  ],

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "mozilla/import-globals": "error",
    "object-shorthand": "off",
  },
}
