{
  "extends": [
    ../../.eslintrc
  ],

  "env": {
    "webextensions": true
  },

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "no-var": "off",
  },

  "overrides": [
    {
      // Include all files referenced in background.js
      "files": [
        "options/migration.js",
        "preserve-referer.js",
        "pdfHandler.js",
        "extension-router.js",
        "suppress-update.js",
        "telemetry.js"
      ],
      "env": {
        // Background script is a service worker.
        "browser": false,
        "serviceworker": true
      }
    }
  ]
}
