/**
 * Detect creation of <embed> and <object> tags.
 */
@-webkit-keyframes pdfjs-detected-object-or-embed {
  from {
    /* empty */
  }
}
@keyframes pdfjs-detected-object-or-embed {
  from {
    /* empty */
  }
}
object,
embed {
  -webkit-animation-delay: 0s !important;
  -webkit-animation-name: pdfjs-detected-object-or-embed !important;
  -webkit-animation-play-state: running !important;
  animation-delay: 0s !important;
  animation-name: pdfjs-detected-object-or-embed !important;
  animation-play-state: running !important;
}
