header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e7e8;

  .navbar-brand {
    padding: 0;

    img {
      height: 42px;
    }
  }
}

main {
  margin: 50px 0;

  .description {
    font-size: 20px;
  }

  pre {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
  }

  iframe {
    border: none;
    height: calc(0.55 * 100vh);
    width: 100%;
  }
}

footer {
  border-top: 1px solid #e5e5e5;
  color: #777777;
  padding: 40px 0;
  text-align: center;
}
