body {
    font-family: arial, verdana, sans-serif;
}

/* Allow absolute positioning of the canvas and textLayer in the page. They
   will be the same size and will be placed on top of each other. */
.pdfPage {
    position: relative;
    overflow: visible;
    border: 1px solid #000000;
}

.pdfPage > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* CSS classes used by TextLayerBuilder to style the text layer divs */

/* This stuff is important! Otherwise when you select the text,
   the text in the divs will show up! */
::selection { background:rgba(0,0,255,0.3); }
::-moz-selection { background:rgba(0,0,255,0.3); }

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
}

.textLayer > div {
    color: transparent;
    position: absolute;
    line-height: 1;
    white-space: pre;
    cursor: text;
}
