/**
 * Custom css for our fork of pdf.js.
 */

html body.light {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
}

html body.light,
html body.light #sidebarContainer,
html body.light #sidebarContent,
html body.light #mainContainer,
html body.light #viewerContainer {
   background: transparent;
   box-shadow: none;
}

/**
 * Toolbar structure and background
 */
html body.light #toolbarContainer,
html body.light #toolbarSidebar {
  position: relative;
  margin: 5px;
  width: auto;
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

html body.light .sidebarOpen #toolbarSidebar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

html body.light .sidebarOpen #toolbarContainer {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

html body.light #toolbarSidebar::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
}

html body.light #toolbarSidebar .toolbarButton {
  position: relative;
  z-index: 10001;
}

html body.light #toolbarSidebar::after {
   content: '';
   display: block;
   position: absolute;
   z-index: 10001;
   right: 0;
   width: 1px;
   top: 7.5px;
   bottom: 7.5px;
   background-color: #d9d9d9;
}

html body.light .toolbarButtonSpacer {
   width: 60px;
}

/**
 * Remove spacing between words when displaying
 * <span>page</span><span>1</span></span>of 7</span>
 */
#pageLabel, #pageNumberDisplay {
  min-width: 0;
  padding-right: 0;
  margin-right: 0;
}

/**
 * The default viewer stops centering this at smaller screen sizes. We'd
 * like it to be always centered, because it looks better with how we moved
 * the buttons around.
 */
.outerCenter {
  float: right !important;
  right: 50% !important;
  left: auto !important;
}

.innerCenter {
  float: right !important;
  right: -50% !important;
  left: auto !important;
}

/* Leave space for the left buttons at very small screen sizes. */
@media all and (max-width: 600px) {
  .innerCenter {
    margin-left: 72px;
  }
}

/**
 * Implement our custom icons. Disable all of the default icons, since the
 * buttons now have inline svg in viewer.html.
 */
.toolbarButton::before {
  content: '' !important;
  display: none !important;
}

i.svg-icon {
  color: #cccccc;
  margin: 0;
  overflow: auto;
}

i.svg-icon path,
i.svg-icon rect,
i.svg-icon circle,
i.svg-icon polygon,
i.svg-icon ellipse,
i.svg-icon polyline,
i.svg-icon line,
i.svg-icon g {
  fill: currentColor;
}
