/* MuniCollab Customizations
 *
 */

/* Project annotations editor and sidebar #922
 * PR: https://github.com/municollab/mc-server/pull/922
 * Commit: 1def69e
 */
button#annotations-sidebar {
  background: #f0f0f4;
  height: 28px;
  border: 1px solid #cccccc;
}

button#annotations-sidebar:hover {
  background: #e0e0e6;
}

/* Zooming on ipad PDFjs fix, tooltip placement top #1177
 * PR: https://github.com/municollab/mc-server/pull/1177
 * Commit: 376c0a4 fix: pdfjs width for webkit - zooming on tablet
 *
 * Note this was intended as a fix for a webkit bug which may no longer exist upstream 
 */
.pdfViewer .canvasWrapper {
  /* See  `width: inherit` comment in `.pdfViewer .page canvas[zooming]` for the reason
    * we use `inherit` and not `100%`. */
  width: inherit;
}

.pdfViewer .page canvas[zooming] {
  /* WebKit has a bug when rendering canvases that have their width defined as
   * relative to their container, and their parent is resized. This causes a
   * "tearing" effect when zooming in PDFs past a certain threshold, which
   * is devide-dependent but tends to be between 120% and 200%.
   *
   * The DOM structure around the canvas is as follows:
   *   div.pdfViewer [ --scale-factor: ...; ]
   *     > div.page [ width: round(var(--scale-factor) * ..., 1px); ]
   *       > div.canvasWrapper
   *         > canvas
   *
   * Setting `width: inherit` on the div.canvasWrapper and on the canvas is
   * equivalent to explicitly specifying the same `width` property in pixels
   * as in div.page, thus making Safari properly redraw the canvas on resize.
   *
   * See https://bugs.webkit.org/show_bug.cgi?id=267986 for more details
   * on the WebKit bug.
   */
  width: inherit;

  height: 100%;
}

/* PDFjs viewer and annotations improvements #936
 * PR: https://github.com/municollab/mc-server/pull/936
 * Commit: fd40e06 feat: pdfjs - remove trashcan button
 *
 * @TODO check specificity of our custom `.editToolbar` rule
 * against `annotation_editor_layer_builder.css` rule(s).
 * Confirm style is applied as expected.
 */
.editToolbar {
  display: none !important;
}
