* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #404040;
  background-image: url(images/texture.png);
  font-family: Segoe UI, Verdana, sans-serif;
}

/* outer/inner center provides horizontal center */
.outerCenter {
  float: right;
  position: relative;
  right: 50%;
}
.innerCenter {
  float: right;
  position: relative;
  right: -50%;
}

#outerContainer {
  width: 100%;
  height: 100%;
}

#sidebarContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  -moz-transition-property: left;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: left;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
}
#sidebarContainer.hidden {
  left: -200px;
}

#mainContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transition-property: left;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: left;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
}
#mainContainer.sideBarOpen {
  left: 200px;
}

#sidebarContent {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
  position: absolute;
  width: 200px;

  background-color: hsla(0,0%,0%,.1);
  box-shadow: inset -1px 0 0 hsla(0,0%,0%,.25);
}

#viewerContainer {
  overflow: auto;
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
  padding-top: 30px;
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 9999;
  cursor: default;
}

#toolbarContainer {
  width: 100%;
}

#toolbarSidebar {
  width: 200px;
  height: 32px;
  background-image: url(images/texture.png),
                    -moz-linear-gradient(hsla(0,0%,30%,.99), hsla(0,0%,25%,.95));
  background-image: url(images/texture.png),
                    -webkit-linear-gradient(hsla(0,0%,30%,.99), hsla(0,0%,25%,.95));
  box-shadow: inset -2px 0 0 hsla(0,0%,100%,.08),
              inset 0 1px 1px hsla(0,0%,0%,.15),
              inset 0 -1px 0 hsla(0,0%,100%,.05),
              0 1px 0 hsla(0,0%,0%,.15),
              0 1px 1px hsla(0,0%,0%,.1);
}

#toolbarViewer {
  position: relative;
  margin-left: -1px;
  height: 32px;
  background-image: url(images/texture.png),
                    -moz-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
  background-image: url(images/texture.png),
                    -webkit-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
  border-left: 1px solid hsla(0,0%,0%,.5);
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
              inset 0 1px 1px hsla(0,0%,0%,.15),
              inset 0 -1px 0 hsla(0,0%,100%,.05),
              0 1px 0 hsla(0,0%,0%,.15),
              0 1px 1px hsla(0,0%,0%,.1);
}

#toolbarViewerLeft {
  position: absolute;
  top: 0;
  left: 0;
}
#toolbarViewerRight {
  position: absolute;
  top: 0;
  right: 0;
}
#toolbarViewerLeft > *,
#toolbarViewerMiddle > *,
#toolbarViewerRight > * {
  float: left;
}

.splitToolbarButton {
  margin: 3px 2px 4px 0;
  display: inline-block;
}
.splitToolbarButton > .toolbarButton {
  border-radius: 0;
  float: left;
}

.toolbarButton {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0);
}

.splitToolbarButton:hover > .toolbarButton,
.splitToolbarButton.toggled > .toolbarButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
}
.splitToolbarButton > .toolbarButton:hover,
.dropdownToolbarButton:hover {
  background-color: hsla(0,0%,0%,.2);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 0 1px hsla(0,0%,0%,.05);
  z-index: 199;
}
.splitToolbarButton > .toolbarButton:first-child  {
  position: relative;
  margin: 0;
  margin-right: -1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right-color: transparent;
}
.splitToolbarButton > .toolbarButton:last-child  {
  position: relative;
  margin: 0;
  margin-left: -1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-color: transparent;
}
.splitToolbarButtonSeparator {
  padding: 8px 0;
  width: 1px;
  background-color: hsla(0,0%,00%,.5);
  z-index: 99;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
  display: inline-block;
  margin: 5px 0;
  float:left;
}
.splitToolbarButton:hover > .splitToolbarButtonSeparator,
.splitToolbarButton.toggled > .splitToolbarButtonSeparator {
  padding: 13px 0;
  margin: 0;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.03);
  -moz-transition-property: padding;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: ease;
}

.toolbarButton,
.dropdownToolbarButton {
  min-width: 16px;
  padding: 3px;
  margin: 3px 2px 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: hsl(0,0%,95%);
  font-size: 12px;
  line-height: 14px;
  -moz-user-select:none;
  -webkit-user-select:none;
  cursor: default;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
}

.toolbarButton:hover,
.dropdownToolbarButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}

.toolbarButton:hover:active,
.dropdownToolbarButton:hover:active {
  background-color: hsla(0,0%,0%,.2);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.4) hsla(0,0%,0%,.45);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: linear;
}

.toolbarButton.toggled,
.splitToolbarButton.toggled > .toolbarButton.toggled {
  background-color: hsla(0,0%,0%,.3);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.45) hsla(0,0%,0%,.5);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: linear;
}

.toolbarButton.toggled:hover:active,
.splitToolbarButton.toggled > .toolbarButton.toggled:hover:active {
  background-color: hsla(0,0%,0%,.4);
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.5) hsla(0,0%,0%,.55);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.2) inset,
              0 0 1px hsla(0,0%,0%,.3) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}

.dropdownToolbarButton {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  background: url(images/toolbarButton-menuArrows.png) no-repeat 95%;
}

.dropdownToolbarButton > select {
  -moz-appearance: none; /* in the future this might matter, see bugzilla bug #649849 */
  -webkit-appearance: none;
  min-width: 120px;
  font-size: 12px;
  color: hsl(0,0%,95%);
  margin:0;
  padding:0;
  border:none;
  background: transparent;
}

.splitToolbarButton:first-child,
.toolbarButton:first-child {
  margin-left: 4px;
}
.splitToolbarButton:last-child,
.toolbarButton:last-child {
  margin-right: 4px;
}

.toolbarButtonSpacer {
  width: 30px;
  display: inline-block;
  height: 1px;
}

.toolbarButtonFlexibleSpacer {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  min-width: 30px;
}

.toolbarButton#sidebarToggle::before {
  display: inline-block;
  content: url(images/toolbarButton-sidebarToggle.png);
}
    
.toolbarButton.pageUp::before {
  display: inline-block;
  content: url(images/toolbarButton-pageUp.png);
}
    
.toolbarButton.pageDown::before {
  display: inline-block;
  content: url(images/toolbarButton-pageDown.png);
}

.toolbarButton.zoomOut::before {
  display: inline-block;
  content: url(images/toolbarButton-zoomOut.png);
}
    
.toolbarButton.zoomIn::before {
  display: inline-block;
  content: url(images/toolbarButton-zoomIn.png);
}

.toolbarButton.print::before {
  display: inline-block;
  content: url(images/toolbarButton-print.png);
}

.toolbarButton.download::before {
  display: inline-block;
  content: url(images/toolbarButton-download.png);
}

.toolbarButton.bookmark {
}

.toolbarButton.bookmark::before {
  content: url(images/toolbarButton-bookmark.png);
}
    
#viewThumbnail.toolbarButton::before {
  display: inline-block;
  content: url(images/toolbarButton-viewThumbnail.png);
}
    
#viewOutline.toolbarButton::before {
  display: inline-block;
  content: url(images/toolbarButton-viewOutline.png);
}

.toolbarField {
  min-width: 16px;
  width: 32px;
  padding: 3px 6px;
  margin: 4px 0 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.09);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  color: hsl(0,0%,95%);
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  outline-style: none;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
}

.toolbarField.pageNumber {
  width: 40px;
}

.toolbarField.pageNumber::-webkit-inner-spin-button,
.toolbarField.pageNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toolbarField:hover {
  background-color: hsla(0,0%,100%,.11);
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.43) hsla(0,0%,0%,.45);
}

.toolbarField:focus {
  background-color: hsla(0,0%,100%,.15);
  border-color: hsla(204,100%,65%,.8) hsla(204,100%,65%,.85) hsla(204,100%,65%,.9);
}

.toolbarLabel {
  min-width: 16px;
  padding: 3px 6px 3px 2px;
  margin: 4px 2px 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: hsl(0,0%,85%);
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  -moz-user-select:none;
  -webkit-user-select:none;
  cursor: default;
}

#thumbnailView {
  position: fixed;
  width: 120px;
  top: 33px;
  bottom: 0;
  padding: 10px 40px 0;
  overflow: auto;
}
#thumbnailView.hidden {
  display:none;
}

.thumbnail {
  margin-bottom: 15px;
  float: left;
  width: 114px;
  height: 142px;
}

.thumbnail:not([data-loaded]) {
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.thumbnailImage {
  -moz-transition-duration: 150ms;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  z-index: 99;
}

.thumbnailSelectionRing {
  border-radius: 2px;
  padding: 7px;
  -moz-transition-duration: 150ms;
}
    
.thumbnail:hover > .thumbnailSelectionRing > .thumbnailImage {
  opacity: .9;
}

.thumbnail:hover > .thumbnailSelectionRing {
  background-color: hsla(0,0%,100%,.15);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.2) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,.9);
}

.thumbnail.selected > .thumbnailSelectionRing > .thumbnailImage {
  box-shadow: 0 0 0 1px hsla(0,0%,0%,.5);
  opacity: 1;
}

.thumbnail.selected > .thumbnailSelectionRing {
  background-color: hsla(0,0%,100%,.3);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,1);
}

#outlineView {
  position: fixed;
  width: 188px;
  top: 33px;
  bottom: 0;
  padding: 16px 4px 0;
  overflow: auto;
  -moz-user-select:none;
  -webkit-user-select:none;
}
#outlineView.hidden {
  display:none;
}

/*.outlineItem {
  width: -moz-calc(100% - 8px);
  height: 20px;
  padding: 2px 0 0 10px;
  margin-bottom: 1px;
  border-radius: 2px;
  color: hsla(0,0%,100%,.8);
  font-size: 13px;
  line-height: 15px;
  -moz-user-select:none;
  cursor: default;
}

.outlineItem:hover {
  background-color: hsla(0,0%,100%,.02);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.2) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,.9);
}

.outlineItem.selected {
  background-color: hsla(0,0%,100%,.08);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,1);
}
*/


.outlineItem > .outlineItems {
  margin-left: 20px;
}

.outlineItem > a {
  text-decoration: none;
  color: hsla(0,0%,100%,.8);
  font-size: 12px;
}

.outlineItem > a:hover {
  background-color: hsla(0,0%,100%,.1);
  color: hsla(0,0%,100%,.9);
}



canvas {
  margin: auto;
  display: block;
}

.page {
  width: 816px;
  height: 1056px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 10px #000;
  -moz-box-shadow: 0px 4px 10px #000;
  -webkit-box-shadow: 0px 4px 10px #000;
  background-color: white;
}

.page > a {
  display: block;
  position: absolute;
}

.page > a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0px 2px 10px #ff0;
  -moz-box-shadow: 0px 2px 10px #ff0;
  -webkit-box-shadow: 0px 2px 10px #ff0;
}

.loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('images/loading-icon.gif') center no-repeat;
}

#loadingBox {
  margin: 100px 0;
  text-align: center;
}

#loadingBar {
  background-color: #333;
  display: inline-block;
  border: 1px solid black;
  clear: both;
  margin:0px;
  line-height: 0;
  border-radius: 4px;
  width: 15em;
  height: 1.5em;
}

#loadingBar .progress {
  background-color: green;
  display: inline-block;
  float: left;

  background: #b4e391;
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
  background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
  background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
  background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
  background: linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);    

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  width: 0%;
  height: 100%;
}

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
}

.textLayer > div {
  color: transparent;
  position: absolute;
  line-height:1.3;
}

/* TODO: file FF bug to support ::-moz-selection:window-inactive
   so we can override the opaque grey background when the window is inactive;
   see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
::selection { background:rgba(0,0,255,0.3); }
::-moz-selection { background:rgba(0,0,255,0.3); }

.annotComment > div {
  position: absolute;
}

.annotComment > img {
  position: absolute;
}

.annotComment > img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.annotComment > div {
  padding: 0.2em;
  max-width: 20em;
  background-color: #F1E47B;
  box-shadow: 0px 2px 10px #333;
  -moz-box-shadow: 0px 2px 10px #333;
  -webkit-box-shadow: 0px 2px 10px #333;
}

.annotComment > div > h1 {
  font-weight: normal;
  font-size: 1.2em;
  border-bottom: 1px solid #000000;
  margin: 0px;
}

#errorWrapper {
  background: none repeat scroll 0 0 #FF5555;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  top: 30px;
  z-index: 1000;
  padding: 3px;
  font-size: 0.8em;
}

#errorMessageLeft {
  float: left;
}

#errorMessageRight {
  float: right;
}

#errorMoreInfo {
  background-color: #FFFFFF;
  color: black;
  padding: 3px;
  margin: 3px;
  width: 98%;
}

.clearBoth {
  clear: both;
}

.fileInput {
  background: white;
  color: black;
}